[Unit]
Description=WSL Notify
After=network.target

[Service]
Type=simple
ExecStart=deno run --allow-net --allow-run --allow-read --allow-write --allow-env https://raw.githubusercontent.com/ansanloms/wsl-notify/refs/tags/0.0.7/server.ts
Restart=always
RestartSec=3
Environment=WSL_NOTIFY_SOCK=/tmp/wsl-notify.sock

[Install]
WantedBy=default.target
