[Unit]
Description=WSL Notify
After=network.target

[Service]
Type=simple
ExecStart=deno run --allow-net --allow-run --allow-read --allow-write --allow-env https://cdn.jsdelivr.net/gh/ansanloms/wsl-notify@0.0.8/server.ts
Restart=always
RestartSec=3
Environment=WSL_NOTIFY_SOCK=/tmp/wsl-notify.sock

[Install]
WantedBy=default.target
