mouse_mode true
show_startup_tips false
theme "nightfox"
default_layout "default"
default_shell "zsh"
scrollback_editor "nvim"
pane_frames true
mouse_mode true

ui {
  pane_frames {
    rounded_corners true
  }
}

keybinds {
  normal clear-defaults=true {
    bind "Ctrl space" { SwitchToMode "Locked"; }
  }

  locked clear-defaults=true {
    bind "Ctrl space" { SwitchToMode "Normal"; }
    bind "Esc" { SwitchToMode "Normal"; }
    bind "p" { SwitchToMode "Pane"; }
    bind "t" { SwitchToMode "Tab"; }
    bind "s" { SwitchToMode "Scroll"; }
    bind "q" { Quit; }
  }
}
