mouse_mode true
show_startup_tips false
theme "nightfox"
default_layout "default"
scrollback_editor "nvim"
pane_frames false
mouse_mode true

keybinds {
  normal clear-defaults=true {
    bind "Ctrl space" { SwitchToMode "Locked"; }
  }

  locked clear-defaults=true {
    bind "Ctrl space" { SwitchToMode "Normal"; }
    bind "Esc" { SwitchToMode "Normal"; }
    bind "p" { SwitchToMode "Pane"; }
    bind "q" { Quit; }
  }
}
