// vim:set filetype=json:

{
    // 推奨設定を継承
    "extends": "eslint:recommended",

    // 有効にする環境を指定
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },

    // 指定GLOBAL変数を許可する
    "globals": {
    },

    // ルール
    // "error" ルール違反を見つけるとエラー
    // "warn"  ルール違反を見つけると警告
    // "off"   ルール違反を見つけても何もしない
    "rules": {
        // 常にセミコロンをつける
        "semi": ["error", "always"],

        // セミコロンの前にはスペースを入れない
        "semi-spacing": ["error", {
            "before": false,
            "after": true
        }],

        // BOMはいらない
        "unicode-bom": ["error", "never"],

        // ダブルクォーテーションのみ
        "quotes": ["warn", "double"]
    },

    "parserOptions": {
        "sourceType": "module"
    }
}
