layout {
  tab {
    pane split_direction="vertical" {
      pane {
        pane {
          name "nvim"
          focus true
          command "nvim"
        }

        pane size="25%" {
          name "terminal"
          command "bash"
          args "-li"
        }
      }

      pane size="25%" {
        name "Claude Code"
        command "claude"
      }
    }

    pane size=2 borderless=true {
      plugin location="zellij:tab-bar"
    }
  }
}
