layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }

    children
  }

  new_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }

    pane {
      name "terminal"
      command "zsh"
      args "-li"
    }
  }

  tab {
    pane split_direction="vertical" {
      /*
      pane size="10%" {
        name "filer"
        command "bash"
        args "-c" "FILETREE_DEFAULT_CMD=\"nvim --server /tmp/nvim-${ZELLIJ_SESSION_NAME}.sock --remote <filepath>\" ft"
      }
      */

      pane {
        pane {
          name "nvim"
          focus true
          command "bash"
          args "-c" "nvim --listen /tmp/nvim-${ZELLIJ_SESSION_NAME}.sock"
        }

        pane size="25%" {
          name "terminal"
          command "zsh"
          args "-li"
        }
      }

      pane size="72" {
        name "Claude Code"
        command "claude"
      }
    }
  }
}
