snippet cc.feat [Conventional Commits] feat: ✨ 新しい機能を追加。
	feat: $1

snippet cc.fix [Conventional Commits] fix: 🐛 バグ修正。
	fix: $1

snippet cc.docs [Conventional Commits] docs: 📚 ドキュメントの修正。
	docs: $1

snippet cc.style [Conventional Commits] style: 🎨 コードの動作に影響しないフォーマットの変更。
	style: $1

snippet cc.refactor [Conventional Commits] refactor: 🔨 リファクタリング。機能追加やバグ修正を含まない。
	refactor: $1

snippet cc.perf [Conventional Commits] perf: 🚀 パフォーマンス改善。
	perf: $1

snippet cc.test [Conventional Commits] test: 🚨 テストの修正や追加。
	test: $1

snippet cc.build [Conventional Commits] build: 📦 ビルドシステムや外部依存に関する変更。
	build: $1

snippet cc.ci [Conventional Commits] ci: 👷 CI 用の設定やスクリプトに関する変更。
	ci: $1

snippet cc.chore [Conventional Commits] chore: 🔧 それ以外の変更。
	chore: $1

snippet cc.revert [Conventional Commits] revert: 🔀 差し戻し。
	revert: $1
